:root {
  --mdc-checkbox-selected-icon-color: #152238;
  --mdc-checkbox-selected-focus-icon-color: #152238;
  --mdc-checkbox-selected-hover-state-layer-color: #152238;
  --mdc-checkbox-selected-hover-icon-color: #152238;
  --mdc-checkbox-selected-focus-state-layer-color: #152238;
  --mdc-checkbox-selected-pressed-state-layer-color: #152238;
  ----mdc-checkbox-selected-pressed-icon-color: #152238;
  --mat-card-title-text-size: 32px;
}

mat-card-header.mat-mdc-card-header {
  padding: 16px;
  width: 100%;
}

mat-card-header {
  .mat-mdc-card-header-text {
    width: 100%;
  }

  .mat-mdc-card-title {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.mat-mdc-table {
  .mdc-data-table__content {
    .mat-mdc-header-row:first-child {
      background-color: #152238;
      color: white;
    }
  }
}

.mat-mdc-snack-bar-container.notification-success {
  .mdc-snackbar__surface {
    background-color: #95d459;
  }
}

.mat-mdc-snack-bar-container.notification-error {
  .mdc-snackbar__surface {
    background-color: #ee4036;
  }
}

.mat-mdc-snack-bar-container.notification-warning {
  .mdc-snackbar__surface {
    background-color: #ffca18;
  }
}
